#meerdereDagen{
    margin-top: 15px;
}

.container-aanvraag {

	.error-text{
		color: red;
		display: none;
	}


    .stap-header {
        padding: 10px;
        background-color: $darker-grey;
        border-bottom: 3px solid $mid-grey-1;
        border-top: 5px solid $mid-grey-1;
        margin-left: auto;
        margin-right: auto;
        //float: left;
        text-align: center;
        li {
            display: inline-block;
            margin-right: 15px;
            background-color: $darker-grey;
            padding: 5px 15px;
        }
        .active {
            background-color: lighten($darker-grey, 10%);
        }
        span {
            color: lightgrey;
            font-size: 1.2em;
        }
    }

    .container-stap-content {
        		width: 100%;
                color: lightgrey;
                padding: 5px;
                position: relative;
                //background-color: $mid-grey-1;
                //height: 100%;
                button {
                    
                    
                    padding: 10px;
                    width: 79%;
                    background: none;
                    color: darken(white,20%);
                    border: solid 3px darken(white,20%);
                    background-color: transparent;
                    -webkit-transition: background-color 0.3s;
                    transition: background-color 0.3s;
                    &:not(.not-active) {
                        &:hover {
                            background-color: darken(white,20%);
                            color: black;
                        }
                    }
                }
                .not-active {
                    opacity: 0.25;
                }
                h1 {
                	
                    color: white;
                    font-size: 1.5em;
                    text-align: center;
                    margin-bottom: 25px;
                }
            }
    //margin-top: 150px;
    .filter-aanvraag {
        margin-left: 15px;
        span {
            color: lightgrey;
            margin-right: 3px;
        }
    }
    .aanvraag-activiteiten-flex {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        //-webkit-align-items: center;
        //align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .aanvraag-container {
        padding: 10px;


    }
    .aanvraag-activiteiten {
        background-color: $dark-grey;
        background-color: rgba(42, 42, 42, 1);
        .container-in-flex {
            //flex-basis: 300px;
            //flex-basis: 48%;
        }
        .activiteiten-zelf {
            width: 65%;
            .aanvraag-activity-type {
                margin-top: 5px;
                padding-top: 15px;
                //background-color: purple;
                .activity-type-header {
                    background-color: $darker-grey;
                    display: block;
                    padding: 5px;
                    .link-type {
                        //display: inline-block;
                        color: white;
                        float: right;
                        margin-right: 15px;
                        //margin-top: 5px;
                        font-size: 1.5em;
                    }
                    .activity-type-h1 {
                        font-size: 1.5em;
                        //float: left;
                        padding: 5px;
                        color: $outside-light-bright-orange;
                        display: inline;
                    }
                }
                .items-in-type {

                	article{
                		label{
                			max-width: 90%;
                		}
                	}
                }
                article {
                    margin-top: 2.5px;
                    //display: block;
                    background-color: $mid-grey-1;
                    padding: 7.5px;
                    max-width: 100%;
                    margin-right: 10px;

                    input[type="checkbox"] {
                        margin: 5px 6px;
                        border: 1px white solid;
                        background-color: black;

                        -ms-transform: scale(1.75);
                         -moz-transform: scale(1.75);
                         -webkit-transform: scale(1.75);
                          -o-transform: scale(1.75);
                    }
                    h2 {
                        font-size: 1em;
                        color: lightgrey;
                        display: inline;
                        //margin-left: 5px;
                        width: 85%;
                    }
                    .activity-info-link {
                        float: right;
                        margin-right: 10px;
                        margin-top: 4px;
                        color: white;
                        &:hover {
                            color: $outside-light-bright-orange;
                        }
                    }
                }
            }
            .single-type {
                display: block;
                //padding-top: 15px;
                //margin-bottom: 50px;
                p {
                    color: $outside-light-bright-orange;
                    font-size: 1.25em;
                    margin-left: 10px;
                }
            }
            
        }
        .container-winkelwagen {
            margin-left: 20px;
            width: 30%;
            margin-top: 17.5px;
            //max-height: 500px;
            .geen-activiteiten {
                color: darkgrey;
                display: block;
                text-align: center;
                margin-bottom: 15px;
            }
            ul.interesse-in {
                list-style: none;
                padding-left: 5px;
                padding-right: 5px;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-direction: row;
                flex-direction: row;
                //-webkit-align-items: center;
                //align-items: center;
                //-webkit-justify-content: center;
                //justify-content: center;
                flex-wrap: wrap;
                margin-bottom: 15px;
                color: darkgrey;
                li {
                    background-color: $darker-grey;
                    margin-right: 5px;
                    //display: block;
                    //position: absolute;
                    //margin-left: -35%;
                    padding: 10px;
                    font-size: 1.25em;
                    margin-bottom: 5px;
                    //padding: 3px;
                }
            }

        }

        

    }


}

.buttons{

	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px 0px;

}
button.next-step {
                    
                    
                    padding: 10px;

                    width: 40%;
                    background: none;
                    color: darken(white,20%);
                    border: solid 3px darken(white,20%);
                    background-color: transparent;
                    -webkit-transition: background-color 0.3s;
                    transition: background-color 0.3s;
                    margin-bottom: 10px;
                    margin-right: 10px;

                    &:not(.not-active) {
                        &:hover {
                            background-color: darken(white,20%);
                            color: black;
                        }
                    }
                }

        #to-step-4 {

        }

.container-stap-1{
	
	ul{
		list-style: none;
		margin-left: 0px;
  		padding-left: 0px;
		height: 225px;


		a, a:hover, a:visited{
				list-style: none;
				color: darken(lightgrey,20%);
			}

		li{
			background-color: $darker-grey;
			padding: 10px;
			text-align: center;
			margin-bottom: 10px;
			border: solid 3px transparent;

			&:hover{
				border-color: $outside-bright-orange;
			}
	
		}

		.active{
				border-color: $outside-bright-orange;
		}

			.inactive{
				opacity: 0.75;

		}
	}
}
#stap2 {
    .container-winkelwagen {
        // width: 100%;
        // margin-left: 0px;
        //margin-top: 0px;
    }
}
.aanvraag-activiteiten-input {
    background-color: $mid-grey-1;
    margin-left: 10px;
    padding-bottom: 5px;
    .vragen-input {
        color: lightgrey;
        padding: 10px;
        span {
            text-align: center;
        }
        ul {
            list-style: none;
        }
    }

}

#stap3{


	p{
		color: darken(white,10%);
		text-align: center;
		margin-top: 15px;
	}

    label{
        margin-left: auto;
        margin-right: auto;
        display: block;
        color: darken(white,10%);
        text-align: center;
    }




}

#stap4{
	.container-form{
		background-color: $mid-grey-1;
		padding: 20px;
		width: 60%;
	}

    .container-winkelwagen{
        width:35%;
    }

	form.gegevens-form{
		display: none;

		article.gegevens-article{
			display: block;
			color: white;
			margin-bottom: 9px;

			label{
				width: 150px;
                vertical-align: top;
			}

            p{
                display: inline-block;
                width: 150px;
                padding-right: 20px;
            }

            label#meerdereDagen{
                width: auto!important;
                //margin-left: 15px;
            }

			input{
                

				padding: 4px;
				padding-left: 8px;
				border: 2px solid transparent;
				background-color: lighten($mid-grey-2, 25%);
				color: $dark-grey;
                width: 60%;
                vertical-align: top;
            

			}

            input.checkMultipleDays{
                width: auto!important;
            }

			textarea{
                width: 60%;

				padding: 4px;
				
				border: 2px solid transparent;
				background-color: lighten($mid-grey-2, 25%);
				color: $dark-grey;

			}

			input[type="text"], input[type="email"]{
				
			}

			.error{
				border: 2px solid red;
			}

			.error-label{
				color:red;
			}


		}
	}
	button{
		margin-top: 20px;
				
			}


    .both-datepickers{

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    // -webkit-align-items: center;
    // align-items: center;
    //-webkit-justify-content: center;
    //justify-content: center;
    flex-wrap: wrap;

    .datepick-container{
        margin-right: 25px;
        width: 100%;

        input{
            //width: auto!important;
        }
    }

        // .ui-datepicker{
        //  margin-left: auto;
        //  margin-right: auto;

        // }

   //   .ui-widget-header{
   //       background: none;
   //       background-color: $outside-flue-orange!important;
   //       border:none;
   //   }

   //   .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
            // border: 1px solid $outside-light-orange;
            // }

   //   .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
            // background: none;
   //       background-color: lighten($outside-flue-orange,20%);
        
   //   }

   //   .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
            // border: none;
   //   }
    }
}

.container-vakantiehuis{
    width: 60%;

    .vakantiehuis-content{
        margin-left: auto;
        margin-right: auto;


        p{
            color: #fff;
            text-align: center;
        }

        ul.ja-nee{
        list-style: none;
        margin-left: 0px;
        padding-left: 0px;
        height: 140px;


        a, a:hover, a:visited{
                list-style: none;
                color: darken(lightgrey,20%);
            }

        li{
            background-color: $darker-grey;
            padding: 10px;
            text-align: center;
            margin-bottom: 10px;
            border: solid 3px transparent;

            &:hover{
                border-color: $outside-bright-orange;
            }
    
        }

        .active{
                border-color: $outside-bright-orange;
        }

           
    }

        button.ja-nee{
            width: 100px;
            padding: 10px;

        }


    }
    

.vakantiehuizen{
   
   display: none;

   ul#vakantiehuizen-ul{

       list-style: none;
        margin-left: 0px;
        padding-left: 0px;
        //height: 140px;
        color:#fff;
        margin-bottom: 20px;


        a.click, a.click:hover, a.click:visited{
                list-style: none;
                color: darken(lightgrey,20%);
            }

        li{
            background-color: $darker-grey;
            padding: 10px;
            text-align: center;
            margin-bottom: 10px;
            border: solid 3px transparent;

            span{
            }

            &:hover{
                border-color: $outside-bright-orange;
            }
    
        }

        .active{
                border-color: $outside-bright-orange;
        }

        .vakantiehuis-item{
            padding: 10px;
            background-color: $darker-grey;



        }

   }

}
}

.b_dag{
    font-family: 'ralewaybold'; 
    

}

@media only screen and (max-width: 481px) {
    .container-aanvraag .aanvraag-activiteiten .activiteiten-zelf {
        width: 100%;
    }
    .container-aanvraag .aanvraag-activiteiten .container-winkelwagen {
        width: 100%;
        margin-left: 0px;
    }



    #stap4{

    form.gegevens-form{

        article.gegevens-article{

            label{
            }

            input{
                //width: 90%;
            }
        }
    }
}
}

@media only screen and (max-width: 628px) {

    #stap2{
        .container-in-flex{
            width: 100%;
        }
    }

}
@media only screen and (max-width: 808px) {
    #stap4{

        .container-in-flex{
            width: 100%;
        }
    }


    #stap4{

        .container-in-flex{
            width: 100%;
        }

    form.gegevens-form{

        article.gegevens-article{


            input{
                &:not(.hasDatepicker){
                width: 90%;
            }
            }
            textarea{
                width: 90%;
            }
        }
    }
}
}