footer{
	//background-color: $dark-grey;
	padding: 10px;
	//position: absolute;
	//height: 100vh;
	//bottom: 0;
	//margin-top: 100%;
	margin-bottom: 20px;
	width: 100%;

	p{
	text-align:center!important;
	margin:0px;
	
	//position: absolute;
	margin-bottom: 0px;
	//color: $outside-light-bright-orange;
	}
}