//Fonts
$typewriter-font: 'traveling__typewriterregular';
$basic-font: 'ralewayregular';
$basic-light: 'ralewaylight';
$basic-medium: 'ralewaymedium';
$basic-bold: 'ralewaybold';

//Colors
$outside-dark-orange: #D43929;
$outside-light-orange: #d94636;
$outside-bright-orange: #c83627;
$outside-light-bright-orange: #ff4d00;

$outside-light-pastel-orange: #fd601c;
$outside-flue-orange: #fe834d;

$dark-grey: #2a2a2a;
$darker-grey: #1a1a1a;
$mid-grey-1: #3a3a3a;
$mid-grey-2: #a1a1a1;
$light-grey: lightgrey;